<h1>Mike's To Do List</h1>
<h1>Enter an item to get started</h1>

<div class='top'>
    <h2>Enter a task here</h2>
    <%= form_with scope: :task, url: tasks_path do |f| %>
        <%= f.text_field :item, placeholder: "example: Go Shopping" %>
        <%= f.submit "Enter", class: "button" %>
    <% end %> 
</div>
<div class='bottom'>
    Testing Right
    
    
</div>
