<h1>To Do List</h1>

<div class='top'>
    <h2>Enter a task here</h2>
    <%= form_with scope: :task, url: tasks_path do |f| %>
        <br>
        <%= f.text_field :item, placeholder: "example: Go Shopping" %>
        <br><br>
        <%= f.submit "Enter", class: "btn btn-primary" %>
    <% end %> 
</div>
<div class='bottom'>
    
    <h2> Your List</h2>
    <hr>
    <ol>
    <% @tasks.each do |task| %>
        <h3>
            <li><%=task.item %></li>
        </h3>
    <% end %>
    </ol>
</div>
