/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container{
    font-family: tahoma;
    margin: 0 auto;
}
body{
    background-color:#5E6C79;
    
}
h1{
    color:#f9f9f9;
    font-family: helvetica;
    text-align: center;
    font-weight: 600;

}
h2{
    text-align: center;
}
h3{
    font-size: 20px;
}

.top{
    padding-top:5px;
    margin-left: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: #808B95;
    border-radius-top: 5px;

}
.bottom{
    color: white;
    margin-left:20px;
    font-size: 30px;
    background-color: #1B2C3C;
    height: auto;
    border-radius-bottom: 5px;
    padding:20px;
    padding-right: 20px;

}

.btn btn-primary{
    color:red;
    
}
input{
    width: 300px;
    
}